# Logs
**/logs
backend/apps/kloudust/db/*.db

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Launch.json contains all passwords etc
.vscode/launch.json
.vscode/settings.json

# Ignore webbundle
frontend/**/webbundle/*